{{ define "main" }}
<h1 class="text-center">
  <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  {{.Title}}
  <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
</h1>

<hr>
<div class="row">
  <div class="col col-md-3">
    {{ $image := .Resources.GetMatch ( print .Params.cover )  }}
    {{ $resource := $image}}

    <img loading="lazy" data-src="{{ $resource.Permalink }}" src="{{ $image.Permalink }}" alt="{{ $.Title }}"
      class="img-fluid rounded rounded-circle u-photo">
  </div>
  <div class="col col-md">
    <h2>
      <a href="https://www.linkedin.com/in/matteo-scarpa-03031992" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:jobs@fundor333.com"><i class="far fa-envelope"></i></a>
    </h2>
    {{.Content}}
  </div>
</div>

{{ range $.Site.Data.jobs }}
<hr>
<div class="row">
  <div class="col-md-3 col-sm-4">
    <div class="row">
      <div class="col">
        <h4>{{ .ditta }}</h4>
        <small><i>{{ .inizio }} - {{ .fine }}</i></small>
      </div>
    </div>
  </div>
  <div class="col-md col-sm">
    {{ range .roles }}
    <div class="row">
      <div class="col">
        <h4><i class="fa-duotone fa-user"></i> {{.role}}</h4>
      </div>
      <div class="col">{{.description}}</div>
    </div>
    <br>
    {{ end }}
  </div>
</div>

{{ end }}

{{ end }}
