{{ define "main" }}

<script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }, {
      "@type": "ListItem",
      "position": 2,
      "name": "Blog",
      "item": "{{ .Permalink }}"
    }]
  }]

</script>

<h1 class="text-center">
  <a href="/news" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  {{.Title}}
  <a href="/news" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
</h1>

<div class="text-center">
  {{range sort ($.Site.GetPage "taxonomyTerm" "tags").Pages "Title" }}
  <a class="btn tag m-2" href='{{ .Permalink }}'>
    <i class="fas fa-tags"></i> {{ .Title}}
  </a>
  {{ end }}
</div>
<hr>

<div class="e-content">
  {{ .Content }}
</div>

{{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
{{ range $paginator.Pages }}

{{ .Render "summary" }}

{{ end }}
<hr>
{{ partial "paginator.html" . }}

{{ end }}
