{{ define "main"}}
<div class="container-fluid">
  <h1 class="text-center">
    <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
    {{ .Title }}
    <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  </h1>
  <hr>
  <div class="container-fluid text-center">

    <a href="{{ .Site.BaseURL }}">home</a>
    ~
    <a href='{{ .Permalink }}'>{{ .Title }}</a>
  </div>


  <hr>
  <br>
  <div class="container-fluid  text-justify">

    {{ $image := .Resources.GetMatch "{cover.jpg,cover.png,cover.jpeg}" }}
    {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}

    <div class="col-10 offset-1 text-center">
      <img loading="lazy" class="img-fluid lazy" src="{{ $image.Permalink }}" width="{{ $resource.Width }}"
        height="{{ $resource.Height }}" alt="Card image cap">
    </div>

    <br>
    <div class="col-10 offset-1 text-center">
      <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    </div>
  </div>
  <br>
  <div class="container text-center">
    {{ with .Params.tags }} {{ range sort . }}
    <a class="btn tag-{{.}} m-2 d-md-none " href='{{ "tags" | absURL }}/{{ . | urlize }}'>
      {{ .}}
    </a>
    <a class="btn tag-{{.}} m-2 d-md-inline-block d-sm-none d-none" href='{{ "tags" | absURL }}/{{ . | urlize }}'>
      <i class="fas fa-tags"></i> {{ .}}
    </a>
    {{ end }} {{ end }}
  </div>
  <br>
  <div class="col-10 offset-1 text-center">
    <div><i class="fa-duotone fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i class="fa-duotone fa-mug-tea"></i>{{ if gt
.ReadingTime
7 }}<i class="fa-duotone fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i class="fa-duotone fa-mug-tea"></i>{{ end }}{{ end }}{{
end }}
      Reading time {{.ReadingTime}} minutes
    </div>
    <div><i class="fad fa-pen-nib"></i> Word count {{.WordCount}}</div>
  </div>

  <br>

  <div class="col-10 offset-1 text-center"> {{ .TableOfContents }}</div>


  <hr>

  <br>
  <article class="flex flex-col px-3">
    {{ .Content | safeHTML }}
    <p>by {{ .Site.Author.name }}</p>
    <hr>
    <p class="text-center">If you liked this article,</p>
    <p class="text-center"> please <a
        href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}&amp;via=fundor333"
        class="a-post" title="Share on Twitter">share it on <i class="fa-brands fa-twitter"></i></a>
    </p>
    <p class="text-center">
      or <a href="https://webmention.io/fundor333.com/webmention" class="a-post">webmention it</a>
    </p>
  </article>

  <script id="s9-sdk" async defer content="330fd98586a04f91a3261ff6620cf1c7"
    src="//cdn.social9.com/js/socialshare.min.js"></script>
  <hr>

  {{- partial "comments.html" . -}}
  <hr>
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}

  <h3 class="text-center">See Also</h3>
  {{ range . }}
  {{ .Render "summary" }}
  {{ end }}
  {{ end }}

</div>
{{ end }}
