{{ define "main"}}
<div class="container-fluid">
  <h1>{{ .Title }}</h1>
  <hr>
  <a href="{{ .Site.BaseURL }}">home</a>
  ~
  <a href='{{ .Permalink }}'>{{ .Title }}</a>
  <br>
  <hr>
  <br>
  <div class="container-fluid">
    {{ if .Params.cover }}
    {{ $image := .Resources.GetMatch ( print .Params.cover ) }}
    <div class="col-10 offset-1">
      <img class="img-fluid" src="{{  $image.Permalink  }}" alt="Card image cap">
    </div>
    {{end}}
    </a>
    <div class="row">
      <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.tags }} {{ range sort . }}
      <a class="col btn tag-{{.}} m-2" href='{{ "tags" | absURL }}/{{ . | urlize }}'>
        <i class="fas fa-tags"></i> {{ . }}
      </a>
      {{ end }} {{ end }}
    </div>
  </div>

  <hr>

  <br>
  <article class="flex flex-col">
    {{ .Content | safeHTML }}
    <p>by {{ .Site.Author.name }}</p>
  </article>

  <hr>

  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <br>
  <h3>See Also</h3>
  {{ range . }}
  {{ .Render "summary" }}
  {{ end }}
  {{ end }}

  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
