{{ define "main"}}
<div class="container-fluid h-entry">
  <h1 class="text-center p-name">
    <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
    {{ .Title }}
    <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  </h1>
  <hr>
  <div class="container-fluid text-center">

    <a href="{{ .Site.BaseURL }}">home</a>
    ~
    <a class="u-url u-uid" href='{{ .Permalink }}'>{{ .Title }}</a>
  </div>


  <hr>
  <br>
  <div class="container-fluid  text-justify">

    {{ $image := .Resources.GetMatch "{cover.jpg,cover.png,cover.jpeg}" }}
    {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}

    <div class="col-10 offset-1 text-center">
      <img loading="lazy" class="img-fluid lazy" src="{{ $image.Permalink }}" width="{{ $resource.Width }}"
        height="{{ $resource.Height }}" alt="Card image cap">
    </div>

    <br>
    <div class="col-10 offset-1 text-center">
      <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    </div>
  </div>
  <br>
  <div class="container text-center">
    {{ with .Params.tags }} {{ range sort . }}
    <a class="btn tag-{{.}} m-2 d-md-none " href='{{ "tags" | absURL }}/{{ . | urlize }}'>
      {{ .}}
    </a>
    <a class="btn tag-{{.}} m-2 d-md-inline-block d-sm-none d-none p-category"
      href='{{ "tags" | absURL }}/{{ . | urlize }}'>
      <i class="fas fa-tags"></i> {{ .}}
    </a>
    {{ end }} {{ end }}
  </div>
  <br>
  <div class="col-10 offset-1 text-center">
    <div><i class="fa-duotone fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i class="fa-duotone fa-mug-tea"></i>{{ if gt
.ReadingTime
7 }}<i class="fa-duotone fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i class="fa-duotone fa-mug-tea"></i>{{ end }}{{ end }}{{
end }}
      Reading time {{.ReadingTime}} minutes
    </div>
    <div><i class="fad fa-pen-nib"></i> Word count {{.WordCount}}</div>
    <div><time class="dt-published"
        datetime="{{ .Date | time.Format "2006-01-02 15:04:05"  }}"></time>{{ .Date | time.Format "2006-01-02 15:04:05"  }}
    </div>
  </div>
  <br>
  <hr>
  <div class="col-10 offset-1">
    <div class="col-10 offset-1"> {{ .TableOfContents }}</div>
  </div>
  <hr>
  <br>
  <article class="flex flex-col px-3 e-content">
    {{ .Content | safeHTML }}
    <p class="p-author h-card">by {{ .Site.Author.name }}</p>
    <hr>
    <p class="text-center">If you liked this article,</p>
    <p class="text-center"> please <a
        href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}&amp;via=fundor333"
        class="a-post" title="Share on Twitter">share it on <i class="fa-brands fa-twitter"></i></a>
    </p>
    <p class="text-center">
      or <a href="https://webmention.io/fundor333.com/webmention" class="a-post">webmention it</a>
    </p>
  </article>

  <script id="s9-sdk" async defer content="330fd98586a04f91a3261ff6620cf1c7"
    src="//cdn.social9.com/js/socialshare.min.js"></script>

  <div id="webmentions" class="row">
    <a href="/quiet" class="quiet-link d-none d-md-block p-3">
      <h2><i class="fa-solid fa-dice-d12"></i></h2>
    </a>
  </div>
  <hr>
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <div class="flex flex-col">
    <h3 class="text-center">See Also</h3>
    {{ range . }}
    {{ .Render "summary" }}
    {{ end }}
    {{ end }}

  </div>
</div>
{{ end }}
