{{ define "main"}}

<h1 class="text-center">project</h1>

<script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }, {
      "@type": "ListItem",
      "position": 2,
      "name": "Project",
      "item": "{{ .Permalink }}"
    }]
  }]

</script>
{{ range $.Site.Data.project }}

{{ range .types }}
<hr>
<div class="row">
  <div class="col-sm-2">
    <h2>{{.type}}</h2>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {{ range .elements }}

    <p><a href="{{.url}}"><b>{{.name}}</b></a> - {{.description}}</p>

    {{end}}
  </div>

</div>

{{end}}
{{ end }}
{{ end }}
