<div class="col-start-2 col-span-10 h-entry">
  <article class="flex flex-col items-center text-center h-entry">

    <a href="{{ .Permalink }}">
      <h1 class="text-center p-name py-2">
        {{ if .Param "mf-drank" }}<i class="fad fa-mug-tea"></i> {{ range  .Param "mf-summary"}}{{.}}{{ end }}
        {{ else if .Param "mf-ate" }}<i class="fad fa-pizza"></i> {{ range  .Param "mf-summary"}}{{.}}{{ end }}
        {{ else if .Param "mf-like-of" }}<i class="fad fa-heart-circle"></i> Liked
        {{ else if .Param "mf-bookmark-of" }}<i class="fad fa-bookmark"></i> Bookmarked
        {{ else if .Param "mf-repost-of" }}<i class="fad fa-retweet"></i> Repost
        {{ else  }}<i class="fad fa-sticky-note"></i> Note{{ end }}
      </h1>
    </a>
    <p>{{ .Date  | time.Format ":date_short" }} {{ .Date  | time.Format ":time_short" }}</p>
    {{ .Content | safeHTML }}
    {{ if .Param "mf-bookmark-of" }}
    {{ range  .Param "mf-bookmark-of"}}
    <a class="u-like-of" href="{{ . }}"> <i class="fad fa-bookmark"></i> Link</a>
    {{ end }}
    {{ end }}
    {{ if .Param "mf-like-of" }}
    {{ range  .Param "mf-like-of"}}
    <a class="u-like-of" href="{{ . }}"> <i class="fad fa-bookmark"></i> Link</a>
    {{ end }}
    {{ end }}
    </a>
  </article>
</div>
