<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}" class="theme-dark">
{{- partial "head.html" . -}}
{{- block "more_head" . }}{{- end }}

<body class="container-fluid">
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3">
        {{- partial "header.html" . -}}
        <div class="d-block d-lg-none">
          <hr>
          {{- partial "social.html" . -}}
        </div>
      </div>
      <div id="content" class="with-colums col-md-9 col-lg-6 col-xl-6">
        <br>
        {{- block "main" . }}{{- end }}
      </div>
      <div class="d-none d-lg-block  col-lg-3 col-xl-3">
        {{- partial "social.html" . -}}
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    {{- partial "footer.html" . -}}
  </div>
  <hr>
  {{- partial "script.html" . -}}
</body>

</html>
