<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}" class="theme-dark">
{{- partial "head.html" . -}}
{{- block "more_head" . }}{{- end }}

<body class="container-fluid">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3">
        {{- partial "header.html" . -}}
      </div>
      <div id="content" class="col-md-9 col-lg-9 col-xl-9">
        <br>
        {{- block "main" . }}{{- end }}
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    {{- partial "footer.html" . -}}
  </div>
  {{- partial "script.html" . -}}
</body>

</html>
