<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}" class="theme-dark">
{{- partial "head.html" . -}}
{{- block "more_head" . }}{{- end }}

<body class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        {{- partial "header.html" . -}}
        {{- partial "social.html" . -}}
        <br>
      </div>
      <div id="content" class="row col-md-8 offset-md-2">
        <br>
        {{- block "main" . }}{{- end }}
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    {{- partial "footer.html" . -}}
  </div>
  {{- partial "script.html" . -}}
</body>

</html>
