{{ define "main" }}
<h1 class="text-center">{{.Title}}</h1>

<div class="text-center">
  {{range sort ($.Site.GetPage "taxonomyTerm" "tags").Pages "Title" }}
  <a class="btn tag-{{.Title}} m-2 d-md-none d-sm-inline-block " href='{{ .Permalink }}'>
    {{ .Title}}
  </a>
  <a class="btn tag-{{.Title}} m-2 d-md-inline-block d-sm-none d-none" href='{{ .Permalink }}'>
    <i class="fas fa-tags"></i> {{ .Title}}
  </a>
  {{ end }}
</div>

<hr>

{{ $paginator := .Paginate .Data.Pages }}
{{ range $paginator.Pages }}

{{ .Render "summary" }}

{{ end }}
{{ partial "paginator.html" . }}

{{ end }}
