@import "scss/bootstrap.scss";
@import "_syntax";
@import "_tags";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Syne+Mono&family=Vujahday+Script&display=swap');

@font-face {
	font-family: 'DovesType-Regular';
	src: url('/fonts/DovesType-Regular.eot');
	src: url('/fonts/DovesType-Regular.eot') format('embedded-opentype'),
		url('/fonts/DovesType-Regular.woff2') format('woff2'),
		url('/fonts/DovesType-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: 150% 300%
}

$f333_red_light: #990000;
$f333_red_dark: #ff4137;
$f333_dark: hsl(0, 0%, 12%);
$f333_light: #c2c2c2;
$f333_dark_transparent: hsla(0, 0%, 12%, 0.8);
$f333_light_transparent: hsla(0, 0%, 76%, 0.8);


.theme-light {
	--color-font: #{$f333_dark};
	--color-background: #{$f333_light};
	--color-link: #{$f333_red_light};
	--color-background-transparent: #{$f333_light_transparent};
	--color-border: #{$f333_dark};
}

.theme-dark {
	--color-font: #{$f333_light};
	--color-background: #{$f333_dark};
	--color-link: #{$f333_red_dark};
	--color-background-transparent: #{$f333_dark_transparent};
	--color-border: #{$f333_light};
}

a {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}

	&.quiet-link {
		color: var(--color-font);

		&:hover {
			color: var(--color-font);
		}
	}

	&.footnote-ref {
		color: var(--color-link);

		&:hover {
			color: var(--color-text);
		}
	}
}



body {
	font-family: 'Lexend', sans-serif !important;
	background-color: var(--color-background);
	color: var(--color-font);
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern"1;
	font-feature-settings: "lnum"1;
	font-kerning: normal;
}

blockquote {
	font-family: 'Syne Mono', serif;
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
}


@for $i from 1 through 6 {
	h#{$i} {
		color: var(--color-link);
		font-family: "DovesType-Regular", serif !important;

		svg {
			color: var(--color-font);

		}
	}
}

hr {
	border-width: 1px;
	border-color: var(--color-border);
	border-style: dotted;
	background-color: transparent;
	opacity: 100%;
}

img {
	&.img-fluid {
		max-width: 75%;
	}
}

sub,
sup {
	position: relative;
	font-size: 1em;
}

.a-post {
	color: var(--color-link);
	text-decoration: underline;

	&:hover {
		color: var(--color-font);
	}

}

.bg {
	background:
		var(--color-background-transparent);
}

.btn {
	background-color: var(--color-background);
	font-family: "DovesType-Regular", serif !important;

	color: var(--color-font);
	font-size: 1.5rem;

	&:hover {
		background-color: var(--color-font);
		color: var(--color-background);
	}

	@each $a,
	$b,
	$c in $tags-list {
		&.tag-#{$a} {

			margin-top: 2px;
			margin-bottom: 2px;
			border: 2px solid;
			border-color: var(--color-background);

			&:hover {
				background-color: var(--color-background);
				color: $b;
				border-color: $b;
			}

			background-color: $b;
			color: $f333_dark;
		}


	}

	&.category {

		margin-top: 4px;
		margin-bottom: 4px;
		border: 4px solid;
		border-color: var(--color-font);
		color: var(--color-background);
		background-color: var(--color-font);

		&:hover {
			background-color: var(--color-background);
			color: var(--color-font);
			border-color: var(--color-font);
		}

	}
}

.card {
	background-color: var(--color-background);
	color: var(--color-font);
	border: var(--color-font) 1px solid;
}

.container {
	max-width: 1024px;
}

.dark,
.light {
	background-color: var(--color-font);
	color: var(--color-background);

	&:hover {
		background-color: var(--color-background);
		color: var(--color-font);
	}
}

.highlight {
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
	font-size: 1rem;
}

.img-post {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
	max-width: 100%;
	height: auto;
}

.sticky-top {
	margin-right: 1rem;
}

.twitter-tweet {
	margin: auto;
}

.quiet {
	color: var(--color-text);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}
}

#logo {
	border-radius: 8px;
}

#TableOfContents {

	a {
		color: var(--color-link);

		&:hover {
			color: var(--color-text);
		}
	}

}

#webmentions {
	margin-bottom: 2rem;

	.reacts {
		img {
			margin: 3px 0ex 1px 0;
			height: 48px;
			width: 48px;
			border-radius: 15%;

		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none
	}

	h2 {
		text-align: center;
	}
}

.webmention li {
	margin: 1rem 0
}

div.webmention {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem 0 1rem 60px
}

div.webmention>a {
	padding: 1rem 0 1rem 0
}

div.webmention__meta {
	/*! display:flex; */
	flex-wrap: wrap;
	align-items: center;
	order: -1;
	font-size: .9rem
}

div.webmention__meta>a {
	padding-right: .5rem
}

img.webmention__author__img {
	position: absolute;
	top: 1rem;
	left: 0;
	height: 48px;
	width: 48px;
	border-radius: 15%;
	object-fit: cover
}

div.webmention__content {
	font-size: .9rem
}

#webmentions .reacts {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.reacts>li {
	margin: 0 auto
}

a.reaction:hover {
	border-bottom: none
}


.e-content {
	&::first-letter {
		font-size: 5.15em;
		font-family: 'Kanzlei';
		padding-right: 3px;
		float: left;
		color: var(--color-link);
		text-indent: 0;
		line-height: .8em;
	}
}


.with-colums {
	border: 0px;


	@include media-breakpoint-up(sm) {
		border-left: 1px;
		border-right: 1px;
		border-color: var(--color-border);
		border-style: dotted;
	}

}
