@import "node_modules/tailwindcss/base.css";
@import "node_modules/tailwindcss/components.css";
@import "node_modules/tailwindcss/utilities.css";

@layer base {
	h1 {
		@apply text-2xl font-title;
		margin-bottom: .5rem;
		font-weight: 500;
		line-height: 1.2;
	}

	h2 {
		@apply text-xl font-title;
		margin-bottom: .5rem;
		font-weight: 500;
		line-height: 1.2;
	}

	h3 {
		@apply text-lg font-title;
		margin-bottom: .5rem;
		font-weight: 500;
		line-height: 1.2;
	}

	button {
		@apply rounded-lg m-2 p-4 font-text dark:hover:text-black hover:text-white dark:hover:bg-white hover:bg-black dark:bg-black  bg-white;
	}
	
	.social {
		@apply hover:text-black dark:hover:text-white
	}

	body  {
		@apply text-black dark:text-white bg-white dark:bg-black font-text text-base font-normal leading-normal
	}

	img{
		@apply rounded-lg
	}

	article{
		img{
			margin-left: auto !important;
			margin-right: auto !important;
			display: block !important;
			max-width: 100%;
			height: auto;
				}
	p{
		@apply leading-relaxed
	}
	}

	ol{
		@apply list-disc mt-4
	}

	p, code, .highlight{ 
		@apply mb-4
	}

}
