@import "scss/bootstrap.scss";
@import "_switch";
@import "_syntax";
@import "_tags";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$f333_red: #8d0801;
$f333_dark: hsl(0, 0%, 12%);
$f333_light: #c2c2c2;

.theme-light {
	--color-font: #{$f333_dark};
	--color-background: #{$f333_light};
	--color-link: #{$f333_red};
}

.theme-dark {
	--color-font: #{$f333_light};
	--color-background: #{$f333_dark};
	--color-link: #{$f333_red};
}

a {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}
}

article {
	img {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
		max-width: 100%;
		height: auto;
	}
}

body {
	font-family: 'Playfair Display', serif;
	background-color: var(--color-background);
	color: var(--color-font);
}


.btn {
	background-color: var(--color-background);
	color: var(--color-font);

	&:hover {
		background-color: var(--color-font);
		color: var(--color-background);
	}

	@each $a,
	$b,
	$c in $tags-list {
		&.tag-#{$a} {

			margin-top: 2px;
			margin-bottom: 2px;

			&:hover {
				background-color: var(--color-background);
				color: $b;
			}

			background-color: $b;
			color: $f333_dark;
		}


	}
}

.dark,
.light {
	background-color: var(--color-font);
	color: var(--color-background);

	&:hover {
		background-color: var(--color-background);
		color: var(--color-font);
	}
}

.quiet {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-font);
	}
}

#logo {
	border-radius: 8px;
}
