@import "scss/bootstrap.scss";
@import "_syntax";
@import "_tags";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Syne+Mono&display=swap');

@font-face {
	font-family: 'DovesType-Regular';
	src: url('/fonts/DovesType-Regular.eot');
	src: url('/fonts/DovesType-Regular.eot') format('embedded-opentype'),
		url('/fonts/DovesType-Regular.woff2') format('woff2'),
		url('/fonts/DovesType-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: 150% 300%
}

$f333_red_light: #990000;
$f333_red_dark: #ff4137;
$f333_dark: hsl(0, 0%, 12%);
$f333_light: #c2c2c2;

.theme-light {
	--color-font: #{$f333_dark};
	--color-background: #{$f333_light};
	--color-link: #{$f333_red_light};
}

.theme-dark {
	--color-font: #{$f333_light};
	--color-background: #{$f333_dark};
	--color-link: #{$f333_red_dark};
}

a {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}

	&.quiet-link {
		color: var(--color-font);
		text-decoration: none;

		&:hover {
			color: var(--color-font);
		}
	}

	&.footnote-ref {
		color: var(--color-link);
	}
}



body {
	font-family: 'Lexend', sans-serif !important;
	background-color: var(--color-background);
	color: var(--color-font);
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern"1;
	font-feature-settings: "lnum"1;
	font-kerning: normal;
}

blockquote {
	font-family: 'Syne Mono', serif;
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
}


@for $i from 1 through 6 {
	h#{$i} {
		color: var(--color-link);
		font-family: "DovesType-Regular", serif !important;

		svg {
			color: var(--color-font);

		}
	}
}

img {
	&.img-fluid {
		max-width: 75%;
	}
}

sub,
sup {
	position: relative;
	font-size: 1em;
}

.a-post {
	color: var(--color-link);
	text-decoration: underline;

	&:hover {
		color: var(--color-font);
	}

}


.btn {
	background-color: var(--color-background);
	font-family: "DovesType-Regular", serif !important;

	color: var(--color-font);
	font-size: 1.5rem;

	&:hover {
		background-color: var(--color-font);
		color: var(--color-background);
	}

	@each $a,
	$b,
	$c in $tags-list {
		&.tag-#{$a} {

			margin-top: 2px;
			margin-bottom: 2px;
			border: 2px solid;
			border-color: var(--color-background);

			&:hover {
				background-color: var(--color-background);
				color: $b;
				border-color: $b;
			}

			background-color: $b;
			color: $f333_dark;
		}


	}
}

.card {
	background-color: var(--color-background);
	color: var(--color-font);
	border: var(--color-font) 1px solid;
}

.container {
	max-width: 1024px;
}

.dark,
.light {
	background-color: var(--color-font);
	color: var(--color-background);

	&:hover {
		background-color: var(--color-background);
		color: var(--color-font);
	}
}

.highlight {
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
	font-size: 1rem;
}

.img-post {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
	max-width: 100%;
	height: auto;
}

.twitter-tweet {
	margin: auto;
}

.quiet {
	color: var(--color-text);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}
}

#logo {
	border-radius: 8px;
}
