{{ $data := getJSON  "https://appletune.fundor333.com/api/commenti/"  .Params.slug  }}

{{ range $index, $element := $data }}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0 align-items-center">
    <div class="col-md-4 align-middle">
      <img src="https://icotar.com/avatar/{{$element.name}}" class="img-fluid rounded-start" alt="{{$element.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{$element.name}}</h5>
        <p class="card-text">{{$element.text}}</p>
        <p class="card-text"> {{ dateFormat `2006-01-02 15:04` $element.added}} </p>
        {{ if $element.website }}
        <a href="{{  $element.website }}" class="card-link"><i class="fad fa-link"></i></a>
        {{ end }}
        {{ if $element.twitter_account }}
        <a href="{{  $element.twitter_account }}" class="card-link"><i class="fab fa-twitter"></i></a>
        {{ end }}
        {{ if $element.github_account }}
        <a href="{{  $element.github_account }}" class="card-link"><i class="fab fa-github"></i></a>
        {{ end }}
      </div>

    </div>
  </div>

</div>
{{end}}

<script>
  if (window.location.search.indexOf('comment=yes') > -1) {
    alert('Thanks for the comment');
  }

</script>

<form id="commenti-form">
  <input type="hidden" id="id_post_url" name="post_url" value="{{ .Params.slug }}">
  <div class="form-group">
    <label>Name/Alias</label>
    <input class="form-control" name="name" id="id_name" placeholder="Name/Alias" required>
  </div>
  <div class="form-group">
    <label>Comment</label>
    <textarea class="form-control" name="text" id="id_text" rows="5" required></textarea>
  </div>

  <br>

  <div class="form-group">
    <label>WebSite (Optional)</label>
    <input class="form-control" name="website" id="id_website" placeholder="My magical comment">
  </div>
  <div class="form-group">
    <label>Twitter (Optional)</label>
    <input class="form-control" name="twitter_account" id="id_twitter_account" placeholder="my-twitter-alias">
  </div>
  <div class="form-group">
    <label>Github (Optional)</label>
    <input class="form-control" name="github_account" id="id_github_account" placeholder="my-github-alias">
  </div>

  <button type="submit" class="btn m-2 d-md-inline-block d-sm-none">Submit</button>
</form>

<script>
  document.forms['commenti-form'].addEventListener('submit', (event) => {
    event.preventDefault();
    var formData = {
      post_url: $("#id_post_url").val(),
      name: $("#id_name").val(),
      text: $("#id_text").val(),
      website: $("#id_website").val(),
      twitter_account: $("#id_twitter_account").val(),
      github_account: $("#id_github_account").val(),
    };

    $.ajax({
      type: "POST",
      url: "https://appletune.fundor333.com/api/commenti/add",
      data: formData,
      dataType: "html",
      success: function (data) {
        console.log(data);
        window.location.href = '{{ .Permalink }}?comment=yes';
      },
      error: function (data) {
        console.log(data);
        window.location.href = '{{ .Permalink }}?comment=yes';
      },

    });

  });

</script>
