<footer class="d-flex align-items-center justify-content-center">
  <a href='https://webring.recurse.com' target='_blank' class="btn">
    <img src='https://webring.recurse.com/icon.png' width="30" height="33" />
  </a>

  <a href='https://webring.xxiivv.com/#random' target='_blank' class="btn">
    <img width=" 30" height="33" src='https://webring.xxiivv.com/icon.white.svg' />
  </a>
</footer>

<div class="fixed-bottom">
  <div class="d-flex align-items-end justify-content-end">
    <button class="btn btn-thm btn-lg light" style="display:none" onclick="changeThemeToLight()">
      <div class="fa-theme">
        <i class="fas fa-starfighter"></i>
      </div>
    </button>
    <button class="btn btn-thm btn-lg dark" style="display:none" onclick="changeThemeToDark()">
      <div class="fa-theme">
        <i class="fas fa-starfighter-alt"></i>
      </div>
    </button>
  </div>
</div>
