<header>
  <div class="d-flex align-items-center justify-content-center">
    <a href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.Params.image}}" alt="logo" class="img-fluid" width="60">
    </a>
  </div>
  <div class="d-flex align-items-center justify-content-center d-none d-md-block">
    <a href="{{ .Site.BaseURL }}">
      <h1 class="d-flex align-items-center justify-content-center">{{ .Site.Title }}</h1>
    </a>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <a href="/quiet" class="quiet-link d-none d-md-block px-3"> <i class="fa-duotone fa-dice-d20"></i></a>

    {{ $currentPage := . }} {{ range .Site.Data.menu }}
    <a href=" {{ .url }}" class="block btn ">{{.name}}</a>
    {{ end }}
    <a href="/quiet" class="quiet-link d-none d-md-block px-3"> <i class="fa-duotone fa-dice-d20"></i></a>

  </div>

  <div class="d-flex align-items-center justify-content-center">
    {{ $currentPage := . }}
    {{ range .Site.Data.social }}
    <a href="{{ .url }}" class="btn">
      <i class="fa-brands fa-{{ .identifier }}" aria-hidden="true">
      </i>
    </a>
    {{ end }}
  </div>
</header>


<script>
  const changeThemeToDark = () => {
    localStorage.setItem("theme", "dark");
    document.documentElement.className = "theme-dark";
    $(".dark").hide();
    $(".light").show();
  }

  const changeThemeToLight = () => {
    localStorage.setItem("theme", "light");
    document.documentElement.className = "theme-light";
    $(".dark").show();
    $(".light").hide();
  }

  function applyTheme(theme) {
    if (theme === "light") {
      changeThemeToLight()
    } else if (theme === "dark") {
      changeThemeToDark()
    } else {
      changeThemeToDark()
    }
  }

  const currentTheme = localStorage.getItem("theme");
  if (currentTheme == "dark") {
    changeThemeToDark();
  } else if (currentTheme == "light") {
    changeThemeToLight();
  }

  $(window).on("load", function () {
    const currentTheme = localStorage.getItem("theme") || "dark";

    applyTheme(currentTheme);

    document.querySelector("#theme").addEventListener("change", function () {
      localStorage.setItem("theme", this.value);
      applyTheme(this.value);
    });

    for (const optionElement of document.querySelectorAll("#theme option")) {
      optionElement.selected = currentTheme === optionElement.value;
    }

  });

</script>
