<script src="/webmention.min.js" data-wordcount="100" async="" data-add-urls="https://fundor333.com{{ .RelPermalink}}">
</script>

<div id="webmentions" class="row">
</div>

<div id="syndication-targets">
  <p>Also on:
    <a href="https://news.indieweb.org/en" class="u-syndication">
      <img src="https://indieweb.org/img/indiewebcamp.svg" title="IndieWeb News" alt="IndieWebCamp logo" loading="lazy">
    </a>
    <a href="https://indieweb.xyz/en/" class="u-syndication">
      <img src="https://indieweb.xyz/images/xyz.png" title="IndieWeb.xyz" alt="IndieWeb.xyz logo" loading="lazy">
    </a>
  </p>
  <a href="https://brid.gy/publish/mastodon"></a>
  <a href="https://brid.gy/publish/twitter"></a>
</div>
