{{ define "main" }}
<div class="text-center container h-card">
  <h1 class="text-center">
    <a href="/news" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
    <a class="u-url" rel=" me" href="{{ .Site.BaseURL }}">{{ .Title }}</a>
    <a href="/news" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  </h1>
  <br>
  <div class="row">
    <img src="{{ .Site.Params.image}}" alt="{{ .Site.Title }}" class="d-none u-logo u-photo d-flex ">
    <div class="p-note e-content">
      {{ .Content }}
    </div>
  </div>
</div>
{{ range  first 4 (where .Site.RegularPages "Section" "post")  }}

{{ .Render "summary" }}

{{ end }}

{{ end }}
