{{ define "main"}}

<h1 class="text-center">
  <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
  hoarding
  <a href="/quiet" class="quiet-link px-3"> <i class="fa-solid fa-dice-d12"></i></a>
</h1>

<script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }, {
      "@type": "ListItem",
      "position": 2,
      "name": "Hoarding",
      "item": "{{ .Permalink }}"
    }]
  }]

</script>

{{ range $.Site.Data.hoarding }}

{{ range .types }}
<hr>

<div class="row">
  <div class="col-sm-2">
    <h2>{{.type}}</h2>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {{ range .elements }}
    <p>
      <div class="h-entry">
        <a href="{{.url}}" class="offset-1 u-bookmark-of h-cite">
          {{.name}}
        </a>
      </div>
    </p>
    {{end}}
  </div>
</div>
{{end}}
{{ end }}

{{ end }}
